*{
  margin: 0;
  padding: 0;
}
.header {
  background-color: #282c34;
  width:100%;
  height: 20vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 24pt;
}
 ul{
    list-style-type: none;
    display: inline-flex;
 }
 ul li{
   padding: 30px;
 }
ul li a{
  text-decoration: none;
  color:#fff;
  cursor: pointer;
}
ul li a:hover{
  border-bottom:4px solid white;
  transition: .5s ease-in;
  border-radius: 2px;
}
div h1{
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  font-size: 24pt;
  margin-top: 10%;
}
div h2{
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  font-size: 48pt;
}